# Python / Byte-code / Cache
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Environment variables & secrets
.env
*.env

# Flutter / Dart
.dart_tool/
.vscode/
build/

# System files
.DS_Store
Thumbs.db

# Database / IDE
*.db
*.sqlite3
.vscode/
.idea/